body {
    background: #023047;
    border: #8ED6E6 solid 2px;
    margin: 0;

}
  
.grid-container { 
    display: grid;
    grid-template: 
    [nav bar] "header header header"
    [main]"main main main";
    border: greenyellow;
    overflow:hidden;
    grid-template-columns: 20%;
    
}
.grid-header {
    grid-area: header;
}
.grid-main {
    padding: .7em 1em 1em 1em;
}

#landing_header {
    color: #EAE8E2;
    width: 100%;
    position: center;
    overflow:hidden;
    font-family: "Bebas Neue", sans-serif;
    font-size: 250%;
    text-align: center;
    justify-content: center;
    padding:3em 0em 0em 0em;
    /* text-shadow: 0em 0.3em #8ED6E6; */
}
nav {
    background-color:#632C2C; 
    overflow:hidden;
    position: fixed;
    display:flex;
    top: 0;
    width: 100%;
    flex-direction: inline;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;

}
.navOption {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navOption a {
    font-size: 2em;
    color:  #C97D60;
    text-decoration: none;
    height: 100%;
    display: block;
}
.navOption :visited{
    font-size: 2em;
    color: #C97D60;
    text-decoration: none;
}
.navOption :hover{
    font-size: 2em;
    background-color: #C97D60;
    color: #8ED6E6; 
    transition: 0.2s;
}
.navOption :active {
    color:#632C2C;
    background-color: #8ED6E6;
}
.home-spread-pic {
    background-image: url("resources/NAS-data-home-pic.jpg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full_width_textbox {
    background-color: #219EBC;
    margin: 2%;   
    font-family: "Red Hat Display", sans-serif;
    padding: 1% 3% 1% 3%; 
}
.full_width_textbox p {
    font-size: 1.3em;
}
.full_width_textbox a{
    color:  white;
}
.full_width_textbox :visited{
    color:  white;
}
.fw_heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    color: white;
}
.fw_blue_section {
    background: #8ED6E6;
    padding: 1% 1%;
    font-size: 90%;
}
.full_width_textbox img{
    width: 25%;
    display: grid;
    float:right;
    margin: 1% 1%;
}
.sidebar-container {
    background-color: #632C2C;
    margin: 0.7em 0em 0em 0em;
    padding: 0.5em 0.5em;
    display: block;
}
.sidebar-item {
    background-color: #C97D60;
    margin: 0em 0.1em 0.3em 0.1em;
    padding: 0.1em 0.1em;
    font-family: "Red Hat Display", sans-serif;
    color:#023047;
    font-size: 1.2em;
}
.sidebar-heading {
    color:#8ED6E6;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
}
