body {
    background: #2E2E2E;
    background-image: linear-gradient(to top left, #E30000,#F1B302);
    background-repeat: repeat-x;
    font-family: 'Bebas Neue', cursive;
}
.navBar-Container {
    display: flex; 
    align-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #2E2E2E;
	padding: .5%;
}
.navOption {
    text-align: center;
    font-size: 150%;
    color: #F3F3F3;
    align-content: center;
    width: 100%;
    position: relative;
    display: inline-block;
}
.navOption a {
    text-decoration:none;
    display: block;
    height:100%;
}
.navOption:hover{ 
    background-color: #F3F3F3; 
    color:#f48a02;
    transition: 0.2s;
}

.navOption a:link {
    color: #F3F3F3;
    text-decoration: none;
}
.navOption a:visited {
    color: #F3F3F3;
    text-decoration: none;
}
.navOption a:hover {
    color:#f48a02;
    text-decoration: none;
     transition: 0.1s;
}

.breakBlock {
    margin: 7%;
}
a {
    color:#f48a02;
}
.outerHeading {
    font-size: 500%;
    color: #F3F3F3;
    text-align: center;
    bottom: 0;
}
.outerSubheading {
    font-size: 100%;
    color: #F3F3F3;
    text-align: center;
    top: 0;
    font-family: 'Montserrat', sans-serif;
}
.bodyBox {
    background: #2E2E2E;
    margin: 2% 10% 5% 10%;
    padding: 5% 5% 10% 5%;
}
.headingBox {
    display: block;
    overflow: hidden;
}
.bodySubheading {
    font-size: 150%;
    color: #F3F3F3;
    text-align: center;
    bottom: 0;
    margin: 0% 0% 0% 50%;
    padding-bottom: -10%;
    line-height: 95%;
}
.bodySubheading a {
    text-decoration: none;
}
.bodySubheading:hover{ 
    color:#f48a02;
    transition: 0.2s;
}

.bodySubheading a:link {
    color: #F3F3F3;
    text-decoration: none;
}
.bodySubheading a:visited {
    color: #F3F3F3;
    text-decoration: none;
}
.bodySubheading a:hover {
    color:#f48a02;
    text-decoration: none;
     transition: 0.1s;
}
.introPic img {
    width: 30%;
    background: linear-gradient(to top left, #E30000,#F1B302);
    padding: 3px;
    float: left;
}
.textNextPicHeading {
    font-size: 500%;
    color: #F3F3F3;
    margin: 0% 2% 0% 2%; 
    padding-bottom: -10%;
    display: block;
    float:left;
    line-height: 95%;
}
.paragraphBox {
    font-size: 100%;
    color: #F3F3F3;
    margin: 6% 1% 0% 33%;
    display:block;
    font-family: 'Montserrat', sans-serif;
}
.paragraphBox2 {
    font-size: 100%;
    color: #F3F3F3;
    margin: 2% 0% 2% 33%;
    display:block;
    font-family: 'Montserrat', sans-serif;
}
.quote {
    font-size:100%;
    display:block;
    text-align:center;
    background-image: linear-gradient(to top left, #E30000,#F1B302);
    background-color: darkgoldenrod;
    background-blend-mode: multiply;
    padding:2% 2%;
    margin: 3% 5% 1% 5%;
}
.bigQuote {
    font-size:300%;
}
.contactGrid {
    display: flex;
    align-content:space-around;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; 
/*    border: red solid 2px;*/
    margin: 0% 10% 0% 10%;
}
.contactGrid-item {
    display:flex;
/*    border: yellow 2px solid;*/
    align-content: center;
}
.contactGrid-item > img {
    width: 50%;
}
